/*reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  font-size: 12px;
  background-color: rgb(10, 10, 10);
}
/*se a tela tiver pelo menos 400px vai carregar estes estilos*/

@media (min-width: 300px) {
  body {
      font-size: 12px;
  }
}

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-text{
  background-color: whitesmoke;
  padding: 6px;
  margin: 0;
  border-radius: 8px;
}

#search-submit{
  padding: 5px;
  border-radius: 4px;
  background-color:rgba(245, 245, 245, 0.877);
}

.menu {
  background-color: #1C1C1C;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul{
  display: flex;
  justify-content: space-around
  
}

.menu li {
  list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title,.site-subtitle {
  color: whitesmoke;
  text-align: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Press Start 2P', cursive;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Racing Sans One', cursive;
  line-height: 2.8em;
}

.logo {
  height: 40px;
  
}

.jogos {
  color: whitesmoke;
  padding: 2em;
}

.jogos h2 {
  font-family: 'Racing Sans One', cursive;
  margin-bottom: 1em;
  font-size: 2em;
}

.jogos .grid {
 display: grid;
 gap: 2em;
}

@media (min-width: 560px){
  .jogos .grid{
    grid-template-columns: 350px 350px;
  }
}

@media (min-width: 1030px){
  .jogos .grid{
    grid-template-columns: 350px 350px 350px;
  }
}

@media (min-width: 1500px){
  .jogos .grid{
    grid-template-columns: 350px 350px 350px 350px;
  }
}

@media (min-width: 1900px){
  .jogos .grid{
    grid-template-columns: 350px 350px 350px 350px 350px;
  }
}

figure {
  font-family: 'Racing Sans One', cursive;
}

.img-ilustracoes {
    height: 200px;
    width: 320px;
    object-fit: cover;
}

#footer {
  position: absolute;
  color: whitesmoke;
  text-align: right;
  width: 900px;
	margin: 0 auto;
	padding: 0;
  height: 61px;
  font-size: 13px;
  bottom: 0px;
  width: 60%;
}

#footer a{
  color: whitesmoke;
}